<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/css2/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css2/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css2/flaticon.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css2/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css2/barfiller.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css2/magnific-popup.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css2/slicknav.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css2/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/cart.css}" type="text/css">
    <style>
        .user-icon {
            font-size: 2rem;
            color: white; /* Màu trắng cho icon */
            text-decoration: none;
            margin-right: 10px; /* Khoảng cách giữa icon và login/signup */
        }

        .user-icon:hover {
            color: #007bff; /* Màu khi hover */
        }

        /* Căn chỉnh các liên kết login/signup */
        .auth-links a {
            text-decoration: none;
            color: white; /* Màu trắng */
            font-weight: bold;
            margin-left: 0px;
        }

        .auth-links a:hover {
            color: #007bff; /* Màu khi hover */
        }

        /* Thêm hiệu ứng cho các liên kết */
        .login-btn, .signup-btn {
            text-transform: uppercase; /* Viết hoa cho các liên kết */
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="/customer/home">Home</a></li>
                <li><a href="/customer/home/nutrition-plan">Kế hoạch dinh dưỡng</a></li>
                <li><a href="/customer/home/workout-plan">Kế hoạch luyện tập</a></li>
                <li><a href="/customer/home/Progress">Tiến độ luyện tập</a></li>
                <li><a href="/customer/home/shop">Shop</a></li>
                <li><a href="/customer/home/users/notification">Thông báo</a></li>
                <li><a href="/customer/home/chat">Chăm sóc khách hàng</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="/customer/home">
                            <img th:src="@{/img/logo.png}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="/customer/home">Home</a></li>
                            <li><a href="/customer/home/nutrition-plan">Kế hoạch dinh dưỡng</a></li>
                            <li><a href="/customer/home/workout-plan">Kế hoạch luyện tập</a></li>
                            <li><a href="/customer/home/Progress">Tiến độ luyện tập</a></li>
                            <li class="active"><a href="/customer/home/shop">Shop</a></li>
                            <li><a href="/customer/home/users/notification">Thông báo</a></li>
                            <li><a href="/customer/home/chat">Chăm sóc khách hàng</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <!-- User Icon and Login/Signup Links -->
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/customer/home/users" class="user-icon" id="user-icon">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="auth-links ml-3" id="auth-links">
                            <a href="/req/login" class="login-btn" id="login-btn">Login</a> |
                            <a href="/req/signup" class="signup-btn">Signup</a>
                        </div>
                        <div class="user-info text-white" id="user-info" style="display: none;">
                            <span>Welcome, <span id="username"></span>!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" th:data-setbg="@{/img/breadcrumb-bg.jpg}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>SHOP GYM</h2>
                        <div class="bt-option">
                            <a href="/customer/home">Home</a>
                            <a href="#">Pages</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- BMI Calculator Section Begin -->
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:5%">
                    <input type="checkbox" id="select-all"> <!-- Nút chọn tất cả -->
                </th>
                <th style="width:45%">Sản phẩm</th>
                <th style="width:15%">Giá tiền</th>
                <th style="width:10%">Số lượng</th>
                <th style="width:20%" class="text-center">Tổng giá</th>
                <th style="width:5%"></th>
            </tr>
            </thead>
            <tbody id="cart-items">
            <!-- Danh sách sản phẩm sẽ được render ở đây -->

            </tbody>
            <tfoot>

            <tr>
                <td>
                    <a href="/customer/home/shop" class="btn btn-warning">
                        <i class="fa fa-angle-left"></i>Thoát
                    </a>
                </td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong></strong></td>
                <td>
                    <a href="#" class="btn btn-success btn-block" id="purchase">
                        Checkout <i class="fa fa-angle-right"></i>
                    </a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- BMI Calculator Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>125-711-811</li>
                            <li>125-668-886</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.gymcenter@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img th:src="@{/img/logo.png}" alt=""></a>
                        </div>
                        <p>“Con đường dẫn đến thành công được làm nên từ những viên gạch của sự kiên trì. Hãy là chính mình, vượt qua mọi chướng ngại và theo đuổi ước mơ của bản thân.”</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Classes</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Subscribe</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Tips & Guides</h4>
                        <div class="fw-recent">
                            <h6><a href="#">Physical fitness may help prevent depression, anxiety</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                        <div class="fw-recent">
                            <h6><a href="#">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

<!-- Js Plugins -->
<script th:src="@{/js2/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js2/bootstrap.min.js}"></script>
<script th:src="@{/js2/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js2/masonry.pkgd.min.js}"></script>
<script th:src="@{/js2/jquery.barfiller.js}"></script>
<script th:src="@{/js2/jquery.slicknav.js}"></script>
<script th:src="@{/js2/owl.carousel.min.js}"></script>
<script th:src="@{/js2/main.js}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const cartItemsContainer = document.getElementById("cart-items");
            const selectAllCheckbox = document.getElementById("select-all");

            const purchaseButton = document.getElementById("purchase");

            let cart = JSON.parse(localStorage.getItem("cart")) || [];

            // Hàm render danh sách sản phẩm
            const renderCart = () => {
                cartItemsContainer.innerHTML = "";

                if (cart.length === 0) {
                    cartItemsContainer.innerHTML = `<p class="text-center">Giỏ hàng trống.</p>`;
                    return;
                }

                cart.forEach((item, index) => {
                    const itemHTML = `
                <tr>
                 <td data-th="Select">
                  <input type="checkbox" class="product-checkbox">
                </td>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs">
                            <img src=${item.url} alt="..." class="img-responsive" />
                        </div>
                        <div class="col-sm-10">
                            <h4 class="nomargin" style="color: #FFFFFF">${item.name}</h4>
                            <p>${item.description}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price"> ${new Intl.NumberFormat('vi-VN').format(item.price)} VNĐ</td>
                 <td data-th="Quantity">
                <input type="number" class="form-control text-center quantity-input" value="${item.quantity}" data-index="${index}">
            </td>
                <td data-th="Subtotal" class="text-center subtotal">${new Intl.NumberFormat('vi-VN').format(item.price * item.quantity)} VNĐ</td>
                <td class="actions" data-th="">

                    <button class="btn btn-danger btn-sm delete-btn" data-index="${index}"><i class="fa fa-trash-o"></i></button>

                </td>
            </tr>
            `;
                    cartItemsContainer.innerHTML += itemHTML;
                });

                // Gắn sự kiện cho ô số lượng
                document.querySelectorAll(".quantity-input").forEach(input => {
                    input.addEventListener("input", handleQuantityChange);
                });

                // Gắn sự kiện xóa sản phẩm
                document.querySelectorAll(".delete-btn").forEach(button => {
                    button.addEventListener("click", (e) => {
                        const index = e.target.getAttribute("data-index");
                        deleteProduct(index);
                    });
                });

                // Gắn sự kiện cho các checkbox sản phẩm
                const productCheckboxes = document.querySelectorAll(".product-checkbox");

                // Xử lý "Chọn tất cả"
                selectAllCheckbox.addEventListener("change", () => {
                    const isChecked = selectAllCheckbox.checked;
                    productCheckboxes.forEach(checkbox => {
                        checkbox.checked = isChecked;
                    });
                    updateActionButtons();
                });

                // Xử lý checkbox từng sản phẩm
                productCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener("change", () => {
                        const allChecked = Array.from(productCheckboxes).every(cb => cb.checked);
                        selectAllCheckbox.checked = allChecked;
                        updateActionButtons();
                    });
                });
            };

            // Hàm xử lý thay đổi số lượng
            const handleQuantityChange = (e) => {
                const input = e.target;
                const index = input.getAttribute("data-index");
                const newQuantity = parseInt(input.value, 10);

                if (newQuantity >= 1) {
                    cart[index].quantity = newQuantity;

                    // Cập nhật subtotal
                    const subtotalElement = input.closest("tr").querySelector(".subtotal");
                    const newSubtotal = cart[index].price * newQuantity;
                    subtotalElement.textContent = `${new Intl.NumberFormat('vi-VN').format(newSubtotal)} VNĐ`;

                    // Cập nhật localStorage
                    localStorage.setItem("cart", JSON.stringify(cart));
                } else {
                    alert("Số lượng không được nhỏ hơn 1.");
                    input.value = cart[index].quantity; // Reset về giá trị trước đó
                }
            };

            // Hàm xóa sản phẩm
            const deleteProduct = (index) => {
                cart.splice(index, 1);
                localStorage.setItem("cart", JSON.stringify(cart));
                renderCart();
            };



            // Hàm cập nhật số lượng sản phẩm
            const updateQuantity = (index, delta) => {
                const product = cart[index];
                product.quantity = Math.max(1, product.quantity + delta);
                localStorage.setItem("cart", JSON.stringify(cart));
                renderCart();
            };



        // Hàm cập nhật trạng thái nút theo checkbox
        const updateActionButtons = () => {
            const productCheckboxes = document.querySelectorAll(".product-checkbox");
            productCheckboxes.forEach((checkbox) => {
                const buttons = checkbox.closest("tr").querySelectorAll(".actions button");
                buttons.forEach(button => {
                    button.disabled = !checkbox.checked;
                });
            });
        };
            // Render giỏ hàng khi tải trang
            renderCart();

            // Hàm lấy userID từ server
            const getUserID = async () => {
                try {
                    const response = await fetch("http://localhost:8080/customer/home/users/user-info3", {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        credentials: "include",
                    });

                    if (response.ok) {
                        const data = await response.json();
                        return data.userId;
                    } else {
                        console.error("Không thể lấy thông tin người dùng:", response.status);
                        return null;
                    }
                } catch (error) {
                    console.error("Lỗi khi lấy thông tin người dùng:", error);
                    return null;
                }
            };

            // Sự kiện mua sản phẩm
            purchaseButton.addEventListener("click", async () => {
                const userID = await getUserID();
                if (!userID) {
                    alert("Không thể lấy thông tin người dùng. Vui lòng đăng nhập lại.");
                    return;
                }

                const selectedProducts = [];
                document.querySelectorAll(".product-checkbox").forEach((checkbox, index) => {
                    if (checkbox.checked) {
                        const product = cart[index];
                        selectedProducts.push({
                            id: product.id,
                            name: product.name,
                            price: product.price,
                            quantity: product.quantity
                        });
                        console.log(product.productID);
                    }
                });

                if (selectedProducts.length === 0) {
                    alert("Bạn chưa chọn sản phẩm nào để mua.");
                    return;
                }

                // Lưu thông tin sản phẩm và người dùng vào localStorage để chuyển sang trang xác nhận
                localStorage.setItem("checkoutInfo", JSON.stringify({
                    userID,
                    products: selectedProducts
                }));

                // Điều hướng sang trang xác nhận
                location.replace("/customer/home/shop/checkout");
            });

            // Render giỏ hàng khi tải trang
            renderCart();
        });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Hàm lấy và hiển thị tên người dùng
            async function fetchAndDisplayUsernames() {
                try {
                    // Gửi yêu cầu GET tới API
                    const response = await fetch('http://localhost:8080/customer/home/users/user-info1', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        credentials: 'include' // Đảm bảo gửi cookie session
                    });

                    if (response.ok) {
                        const data = await response.json(); // Lấy dữ liệu JSON từ phản hồi
                        const username = data.username;

                        // Hiển thị tên người dùng và ẩn các liên kết login/signup
                        document.getElementById("auth-links").style.display = 'none'; // Ẩn "Login" và "Signup"
                        document.getElementById("user-info").style.display = 'block'; // Hiển thị tên người dùng
                        document.getElementById("username").innerText = username; // Cập nhật tên người dùng
                    } else {
                        console.error("Error fetching username:", response.statusText);
                    }
                } catch (error) {
                    console.error("Error fetching username:", error);
                }
            }

            // Kiểm tra khi tải trang và gọi API
            fetchAndDisplayUsernames();
        });

    </script>

</body>

</html>